.content {
    grid-area: c;
    background-color: chartreuse;
}
.postsAreaAndButton{
    display: grid;
    grid-template-areas: "a b";
    grid-auto-columns: 4fr 1fr;
    grid-gap: 10px;
}

.content img {
    width: 100px;
}

.item img {
    width: 80px;
}

.posts {
    font-size: 25px;
    margin-top: 10px;
}

.postsBlock {
    padding-left: 25px;
}
.textareaBox{
    border-radius: 15px;
    grid-area: a;
    font-size: 20px;
    padding: 8px;
    resize: none;
}

.buttonAdd:hover{
    color: gold;
    font-size:32px;
}
.buttonAdd{
    grid-area: b;
    font-size: 30px;
    width: 160px;
    height: 110px;
    color: #ffffff;
    background-color: #2eb38e;
    border-radius: 12px;
}

.buttonAdd:active{
   transform: translateY(2px);
}