.nav{
    grid-area: n;
    background-color: #2eb38e;
    border-radius: 22px;
    width: 260px;
    padding-top: 30px;
}
.item{
    transition: 1s all;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    margin-left: 50px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
}


.item:hover{
    transition: 0.1s all;
    color: gold;
    transform: scale(1.05) translateX(15px);
}

.item.active{
    transition: 0.1s all;
    transform: translateX(50px) scale(1.1);
    color: gold;
}
.item.active:active{
    transition: 0.1s all;
    transform: translateX(50px) scale(1.1);
    color: gold;

}
.item:active{
    transform: scale(0.9) translateX(15px);
    transition: 0.1s all;

}