.content{
    grid-area: c;
    background-color: chartreuse;
}


.content img{
    width: 100%;
}

.item img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-color: #282c34;
    border-style: solid;
}