.app-wrapper{
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows:  100px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap: 8px;
  width: 1280px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #2eb38e4a;
  padding: 10px;
  border-radius: 30px;
}




